@model ForFunBook.Models.Book

<h2>Cancel Book Page</h2>

<div>
    <h4>確定要將這本書從清單中移除嗎?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        
    </dl>
    <form asp-controller="Books" asp-action="Cancel" asp-route-id="@Model.BookId" method="post">
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" />&nbsp;
            <a asp-action="Show" asp-controller="Books" asp-route-id="@Model.BookId">Back to
                List</a>
        </div>
    </form>
</div>
